In [3]:
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('Books.csv')

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55042 entries, 0 to 55041
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 55042 non-null  object
 1   Book-Title           55042 non-null  object
 2   Book-Author          55041 non-null  object
 3   Year-Of-Publication  55041 non-null  float64
 4   Publisher            55041 non-null  object
 5   Image-URL-S          55041 non-null  object
 6   Image-URL-M          55041 non-null  object
 7   Image-URL-L          55041 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.4+ MB

In [7]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication']]

In [8]:
books.shape

(55042, 4)

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    1
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
for i in books:
  print(books[i].value_counts())

0195153448    1
0806931817    1
0806909528    1
0696200341    1
0028603788    1
             ..
0749930632    1
0553282182    1
0671037382    1
0413519503    1
1576466450    1
Name: ISBN, Length: 55042, dtype: int64
Pride and Prejudice                                      11
Wuthering Heights                                         9
Whispers                                                  8
Little Women                                              8
Masquerade                                                8
                                                         ..
How Does Aspirin Find a Headache?                         1
Day of the Bees (Vintage Contemporaries (Paperback))      1
Gift of a Letter                                          1
The Pixel Eye                                             1
The Claus Family Album: Stories of Santa Claus and Hi     1
Name: Book-Title, Length: 50763, dtype: int64
Stephen King               205
Agatha Christie            183
Carolyn Keene              129
Nora Roberts               129
William Shakespeare        126
                          ...
Judal                        1
Janet Farrington Graham      1
Cormac Mccarthy              1
Gary B. Lundberg             1
Eric Kocher                  1
Name: Book-Author, Length: 25401, dtype: int64
2002.0    4076
2001.0    3999
2000.0    3879
1999.0    3829
1998.0    3403
          ...
1947.0       1
2011.0       1
1930.0       1
1936.0       1
1929.0       1
Name: Year-Of-Publication, Length: 83, dtype: int64

Loading and exploring ratings columns

In [12]:
ratings= pd.read_csv('Ratings.csv')

In [13]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

Loading users dataset

In [14]:
users= pd.read_csv('Users.csv')

In [15]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [125]:
#Merging of dataframes
merged_df = ratings.merge(books,on='ISBN')

In [126]:
merged_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0
1,2313,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002.0
2,6543,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0
3,8680,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002.0
4,10314,034545104X,9.0,Flesh Tones: A Novel,M. J. Rose,2002.0
...,...,...,...,...,...,...
429175,193458,0679003800,0.0,Fodor's Upclose Ireland (Fodor's Upclose Ireland),Melanie Sponholz,2000.0
429176,194749,0967851009,7.0,The Landlord,Ken Merrell,2001.0
429177,195163,8807016087,4.0,Matrioska,Cristina Comencini,2002.0
429178,195416,0399528199,9.0,Zipping My Fly: Moments in the Life of an Amer...,Rich Tosches,2002.0
429179,195866,0380706717,9.0,Frugal Gourmet Cooks with Wine,Jeff Smith,1988.0

In [59]:
#extracting books who has more than 100 ratings

#grouping the titles according to ratings
num_rating = merged_df.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating.rename(columns={'Book-Rating' : 'num_rating'},inplace=True)

In [60]:
num_rating

                                              Book-Title  num_rating
0       A Light in the Storm: The Civil War Diary of ...           4
1       Beyond IBM: Leadership Marketing and Finance ...           1
2       Earth Prayers From around the World: 365 Pray...           5
3       Final Fantasy Anthology: Official Strategy Gu...           4
4                                           It Takes Two           2
...                                                  ...         ...
49855                   Ã‚Â¿QuiÃƒÂ©n se ha llevado mi queso?           1
49856                           Ã‚Â¿QuÃƒÂ© me quieres, amor?           6
49857                              Ãƒ?Ã‚?ber die Freiheit.           1
49858                                     Ãƒ?Ã‚?bermorgen.           1
49859                                  Ãƒ?Ã‚?thique en toc           2

[49860 rows x 2 columns]

In [63]:
avg_rating = merged_df.groupby('Book-Title').count()['Book-Rating'].reset_index()
avg_rating.rename(columns={'Book-Rating' : 'avg_rating'},inplace=True)

In [64]:
avg_rating

                                              Book-Title  avg_rating
0       A Light in the Storm: The Civil War Diary of ...           4
1       Beyond IBM: Leadership Marketing and Finance ...           1
2       Earth Prayers From around the World: 365 Pray...           5
3       Final Fantasy Anthology: Official Strategy Gu...           4
4                                           It Takes Two           2
...                                                  ...         ...
49855                   Ã‚Â¿QuiÃƒÂ©n se ha llevado mi queso?           1
49856                           Ã‚Â¿QuÃƒÂ© me quieres, amor?           6
49857                              Ãƒ?Ã‚?ber die Freiheit.           1
49858                                     Ãƒ?Ã‚?bermorgen.           1
49859                                  Ãƒ?Ã‚?thique en toc           2

[49860 rows x 2 columns]

In [66]:
dataframe = num_rating.merge(avg_rating,on='Book-Title')

In [67]:
dataframe

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,4
1,Beyond IBM: Leadership Marketing and Finance ...,1,1
2,Earth Prayers From around the World: 365 Pray...,5,5
3,Final Fantasy Anthology: Official Strategy Gu...,4,4
4,It Takes Two,2,2
...,...,...,...
49855,Ã‚Â¿QuiÃƒÂ©n se ha llevado mi queso?,1,1
49856,"Ã‚Â¿QuÃƒÂ© me quieres, amor?",6,6
49857,Ãƒ?Ã‚?ber die Freiheit.,1,1
49858,Ãƒ?Ã‚?bermorgen.,1,1
49859,Ãƒ?Ã‚?thique en toc,2,2

In [81]:
popular_books = dataframe[dataframe['avg_rating']>=200].sort_values('avg_rating',ascending=False).head(20)

In [82]:
popular_books

,Book-Title,num_rating,avg_rating
48735,Wild Animus,1737,1737
40681,The Lovely Bones: A Novel,906,906
37710,The Da Vinci Code,623,623
41327,The Nanny Diaries: A Novel,593,593
1135,A Painted House,580,580
5758,Bridget Jones's Diary,562,562
42952,The Secret Life of Bees,545,545
42458,The Red Tent (Bestselling Backlist),529,529
10790,Divine Secrets of the Ya-Ya Sisterhood: A Novel,517,517
3024,Angels &amp; Demons,465,465
33201,Snow Falling on Cedars,457,457
43581,The Summons,452,452
21959,Life of Pi,449,449
41542,The Notebook,444,444
43744,The Testament,429,429
17583,House of Sand and Fog,422,422
48410,Where the Heart Is (Oprah's Book Club (Paperba...,413,413
41846,The Pelican Brief,411,411
41988,The Pilot's Wife : A Novel,411,411
39029,The Girls' Guide to Hunting and Fishing,409,409

In [87]:
popular_books =  popular_books.merge(books,on='Book-Title').drop_duplicates('Book-Title')

In [85]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication'], dtype='object')

In [137]:
c = merged_df.groupby('User-ID').count()['Book-Rating']>200
actual_readers = c[c]

In [150]:
 readers = merged_df[merged_df['User-ID'].isin(actual_readers)]

In [143]:
readers.shape

(429180,)

In [147]:
m = merged_df.groupby('Book-Title').count()['Book-Rating']>=50
books_popular = m[m]

In [149]:
real_rating = merged_df[merged_df['Book-Rating'].isin(books_popular)]

In [159]:
pivot = real_rating.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [160]:
pivot

User-ID,1314,1548,1674,1733,1903,2041,2110,2132,2985,3032,...,193771,194636,194699,195653,277363,278024,278202,278540,278683,278755
Book-Title,,,,,,,,,,,,,,,,,,,,,
"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50 Amazing U.S. Mazes: Journey Through the USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Certain Justice (Adam Dalgliesh Mysteries (Hardcover)),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wounds of Passion: A Writing Life,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X-Files: Skin (The X-Files),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year of the Griffin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Shall Know Our Velocity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
pivot.fillna(0,inplace=True)

In [162]:
pivot

User-ID,1314,1548,1674,1733,1903,2041,2110,2132,2985,3032,...,193771,194636,194699,195653,277363,278024,278202,278540,278683,278755
Book-Title,,,,,,,,,,,,,,,,,,,,,
"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50 Amazing U.S. Mazes: Journey Through the USA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Certain Justice (Adam Dalgliesh Mysteries (Hardcover)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wounds of Passion: A Writing Life,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
X-Files: Skin (The X-Files),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of the Griffin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Shall Know Our Velocity,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [255]:
from scipy.sparse import csr_matrix

In [257]:

book_sparse = csr_matrix(pivot)

In [258]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [260]:
distances, suggestions = model.kneighbors(pivot.iloc[237, :].values.reshape(1, -1))

In [262]:
for i in range(len(suggestions)):
  print(pivot.index[suggestions[i]])

Index(['Jackdaws', 'The Smoke Jumper',
       'Pemberley or Pride and Prejudice Continued', 'Bloodlines',
       'L'Homme qui murmurait Ãƒ?Ã‚Â  l'oreille des chevaux'],
      dtype='object', name='Book-Title')